1.读取文本格式的数据 表格型数据读取为 DataFrame 对象的函数 read_csv 和 read_table

In [1]:
! type 1.csv

a,b,c,d,message
1,2,3,5,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
import pandas as pd
df = pd.read_csv('1.csv')
df

   a   b   c   d message
0  1   2   3   5   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
 pd.read_table('1.csv', sep=',')

   a   b   c   d message
0  1   2   3   5   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
 pd.read_csv('1.csv',index_col='message') #指定索引列

         a   b   c   d
message
hello    1   2   3   5
world    5   6   7   8
foo      9  10  11  12

In [8]:
df = pd.read_csv('1.csv',skiprows=[1]) #跳过第2行
df

   a   b   c   d message
0  5   6   7   8   world
1  9  10  11  12     foo

In [9]:
df = pd.read_csv('1.csv',nrows=2) #设置只读前两行
df

   a  b  c  d message
0  1  2  3  5   hello
1  5  6  7  8   world

In [10]:
df.to_csv('2.csv')  #当前写回csv

In [11]:
! type 2.csv

,a,b,c,d,message
0,1,2,3,5,hello
1,5,6,7,8,world

In [12]:
obj = """ 
{"name": "Wes", 
 "places_lived": ["United States", "Spain", "Germany"], 
 "pet": null, 
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, 
 {"name": "Katie", "age": 38, 
 "pets": ["Sixes", "Stache", "Cisco"]}] 
} 
"""

In [14]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [16]:
asjson = json.dumps(result) #python 对象转换为json 格式
print(asjson)

{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}

{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
 {"name": "Katie", "age": 38,
 "pets": ["Sixes", "Stache", "Cisco"]}]
}

In [18]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [26]:
df.to_pickle('1.pickle')
pd.read_pickle('1.pickle')

   a  b  c  d message
0  1  2  3  5   hello
1  5  6  7  8   world

In [28]:
import numpy as np
frame = pd.DataFrame({'a': np.random.randn(100)})